<button (click)="addTask()">Add task</button>
<div class="tasks">
@for (status of [3, 2, 1]; track $index) {
    <section class="row">
    @if (status === 3) {
        <h2>{{"start" | custom}}</h2>
    }
    @if (status === 2) {
        <h2>{{"in progress" | custom}}</h2>
    }
    @if (status === 1) {
        <h2>{{"done" | custom}}</h2>
    }
        @for (item of loopTask(status); track $index) {
            <reusabletask class="task-card"
                [task]="item"
                (taskName)="addTaskName(item.taskId, $event)"
                (taskDeadline)="setDeadline(item.taskId, $event)"
                (increasePriority)="changePrio(item.taskId, true)"
                (decreasePriority)="changePrio(item.taskId, false)"
                (increaseStatus)="changeStatus(item.taskId, true)"
                (decreaseStatus)="changeStatus(item.taskId, false)"
                (removeTask)="removeTask(item.taskId)"
            ></reusabletask>
        }
    </section>
}